<h1>Add your favorite cocktail recipe!</h1>

<%= render 'form', cocktail: @cocktail %>
<div class="link">
<%= link_to "All Cocktails", root_path %>
</div>

<img class="glass" src="https://upload-assets.vice.com/files/2016/05/19/1463692808com_gifs_karan_singh_appy_fizz_sagmeister_walsh_xT4uQg3yhJ5Eb0ES5i.gif?resize=1050:*" alt="">
