body {
  text-align: center;
}
h1 {
  color: whitesmoke;
  margin: 30px;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
.link {
  margin: 50px;
}
p {
  color: whitesmoke;
  margin: 20px;
  line-height: 15px;
}
.desc {
  font-size: 28px;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
.form {
  color: red;
  font-size: 20px;
}

.form {
  color: red;
  font-size: 20px;
  width: 500px;
  margin: 0 auto;
}
